* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* smokum-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Smokum';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/smokum-v30-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rye-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rye';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/rye-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    font-family: 'Rye', cursive;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../assets/img/5_background/desert_sunset.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    /* font-family: 'Smokum', serif; */
    font-size: 3em;
}

/* Screens */
.all-screens {
    position: relative;
    height: 480px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 40px;
    border: 2px solid red;
    border-radius: 8px;
    overflow: hidden;

    & .background-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: fill;
        z-index: -1;
        filter: blur(5px);
    }
}

.screen-container {
    display: flex;
    gap: 8px;
}

.startscreen {
    height: 480px;
    width: 720px;
    background-image: url(../assets/img/9_intro_outro_screens/start/startscreen_2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    border-radius: 8px;
    gap: 24px;
}

.info-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;

    & p {
        padding-top: 16px;
        text-align: center;
        font-size: 1.2em;
        line-height: 1.6;
    }
}

.startscreen-controls {
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

canvas {
    background: black;
    border-radius: 8px;
    border: 2px solid red;
}

.you-won-screen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);


    & .you-won-screen-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* gap: 16px; */
        height: 100%;
        width: 100%;

        & p {
            font-size: 1.5em;
            text-align: center;
            color: orange;
        }

        & .you-won-img {
            width: 55%;
            /* height: 100%; */
        }

        & .you-won-screen-buttons {
            display: flex;
            gap: 36px;
        }
    }


}


.button {
    background: linear-gradient(to bottom, #ff9d00, #ffdb00, #ff9d00);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
    color: orange;
    -webkit-text-stroke: .5px #a0220a;
    /* text-stroke: 1px black; */
    border: none;
    border-radius: 12px;
    padding: 0 8px;
    text-decoration: none;
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        /* text-shadow: 2px 2px 4px rgba(253, 173, 1, 0.5); */
        scale: 1.1;
    }
}

.fz32 {
    font-size: 32px;
    color: #a0220a;
    -webkit-text-stroke: .5px black;
}

.keys-info {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.keys-info>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.key-display {
    display: flex;
    gap: 8px;
}

.key {
    background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
    border: 2px solid #333;
    border-radius: 8px;
    padding: 0px 16px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 4px 0 #666, 0 6px 8px rgba(0, 0, 0, 0.3);
    min-width: 50px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.key-space {
    min-width: 120px;
    font-size: 16px;
    padding: 6px 16px;
}

.unmute-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 20px;
    padding: 5px;
    background: linear-gradient(to bottom, #ff9d00, #ffdb00, #ff9d00);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.075s ease-in-out;

    & img {
        width: 20px;
    }

    &:hover {
        scale: 1.1;
    }
}