/* Info Screen */
.keys-info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    & .key {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: clamp(var(--gap-s), calc(-9.333px + 4.167cqh), var(--gap-xxl));
        font-size: clamp(0.75rem, calc(0.25rem + 2.5cqh), 1.5rem);

        & img {
            height: clamp(40px, calc(0px + 12.5cqh), 100px);
        }
    }
}